extends layout
append head
  link(href="http://lab.lepture.com/editor/editor.css",  type="text/css" rel="stylesheet")

  style.
    .editor {
      width: 100%;
      background-color: white;
    }
    textarea {
      width: 100%;
    }
append footer
  script(src="http://lab.lepture.com/editor/editor.js" )
  script(src="http://lab.lepture.com/editor/marked.js" )
block content
  h1= title

  form(method='POST',action='',enctype='multipart/form-data' )
    div
      label(for='title') 标题：
      input(type='text', placeholder='文章标题' name='title' required='true' value=(undefined===article ? '' : article.title))
    div
      label(for='author') 作者：
      input(type='text', placeholder='author', name='author', required='true', value=(undefined===article ? 'liang': article.author))
    div
      label 分类：
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked=genre.checked )
            label(for=genre._id) #{genre.filter_name}
    div.editor
      textarea(name="text")!= undefined===article ? '' : article.text
    div
      input(type='file' name='img' )
    div
      label 标签：
        input(type='text', name='tag',value= undefined===article ? '' : article.tag[0])
        input(type='text', name='tag',value= undefined===article ? '' : article.tag[1])
        input(type='text', name='tag',value= undefined===article ? '' : article.tag[2])
        input(type='text', name='tag',value= undefined===article ? '' : article.tag[3])
        input(type='text', name='tag',value= undefined===article ? '' : article.tag[4])
    button(type='submit') 提交
    script.
        var editor = new Editor({
          element: document.getElementsByClassName('.editor')[0]
        });
        editor.render();
  if errors 
    ul
      for error in errors
        li!= error.msg