extends layout

append head
  link(href="/stylesheets/article_list.css", rel="stylesheet")
  
block content
  .nav-crumbs
    span 当前位置：
    i.fa.fa-home
    span
      a(href='/') 首页
    i.fa.fa-angle-right
    span
      a(href=`/${title}`)= title
  .main
    .article-list
      h2= title
      ul
        each article in article_list
          li
            a(href=article.url) #{article.title}
            | (#{article.author.name})
        
        else 
          li 
            a(href='/') 文章1
            | 作者
          li 
            a(href='/') 文章2
            | 作者
          li 
            a(href='/') 文章3
            | 作者

    .sidebar 等待修改